body {
  padding-top: 5rem;
  margin-bottom: 7.5rem;
  word-wrap: break-word;
}
iframe {
  max-width: 100%;
  overflow: hidden;
}
h1 {
  clear: both;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h2 {
  clear: both;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h3 {
  clear: both;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h4 {
  clear: both;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
h5 {
  clear: both;
}
h6 {
  clear: both;
}
article {
  margin-top: 2rem;
  padding: 2rem;
}
blockquote {
  display: block;
  margin: 2rem 2rem 3rem;
  padding: 2rem;
  border: 1px solid #efefef;
}
blockquote p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
table {
  border: 1px solid #ccc;
}
th, td {
  border: 1px solid #d1d1d1;
  padding: 0.5rem;
}
header.page-title {
  border-bottom: 1px solid #ddd;
  margin-top: 2rem;
  padding: 2rem;
}
.archive .page-header {
  margin-top: 2rem;
}
.archive article,
.blog article {
  border-bottom: 1px solid #ddd;
}
.archive article:last-of-type,
.blog article:last-of-type {
  border-bottom: none;
}
.row{
  margin: 1rem 0;
}
.wrapper {
  clear: both;
}
.comments {
  margin: 2rem 0;
}
.comment,
.pingback,
.trackback {
  list-style-type: none;
  padding: 1.5rem;
}
.even {
  background-color: #fff;
}
.odd {
  background-color: #efefef;
}
.reply {
  margin-bottom: 1rem;
}
.entry-header {
  margin-bottom: 2rem;
}
.has-post-thumbnail {
  background-repeat: no-repeat;
  background-size: contain;
}
.has-post-thumbnail.portrait {
  margin-left: 30%;
}
.post-thumbnail {
  background-repeat: no-repeat;
  clear: both;
  z-index: -10;
}
.wp-caption {

}
.wp-caption-text {
  font-size: small;
}
.sticky {
  background-color: #ededed;
}
.screen-reader-text {
  display: none;
}
article .gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.gallery-item {
  margin-bottom: 2rem;
  padding: 1rem;
}
.gallery-size-thumbnail .gallery-icon {
  max-width: 150px;
}
.gallery-icon {
  margin-left: auto;
  margin-right: auto;
}
.gallery-caption {

}
.card {
  margin: 2rem 1rem;
}
.gallery-columns-1 .gallery-item,
.gallery-columns-1 .card {
  flex-basis: calc( 100% / 1 - ( 2 * 1rem ) );
}
.gallery-columns-2 .gallery-item,
.gallery-columns-2 .card {
  flex-basis: calc( 100% / 2 - ( 2 * 1rem ) );
}
.gallery-columns-3 .gallery-item,
.gallery-columns-3 .card {
  flex-basis: calc( 100% / 3  - ( 2 * 1rem ) );
}
.gallery-columns-4 .gallery-item,
.gallery-columns-4 .card {
  flex-basis: calc( 100% / 4 - ( 2 * 1rem ) );
}
.gallery-columns-5 .gallery-item,
.gallery-columns-5 .card {
  flex-basis: calc( 100% / 5 - ( 2 * 1rem ) );
}
.gallery-columns-6 .gallery-item,
.gallery-columns-6 .card {
  flex-basis: calc( 100% / 6 - ( 2 * 1rem ) );
}
.gallery-columns-7 .gallery-item,
.gallery-columns-7 .card {
  flex-basis: calc( 100% / 7  - ( 2 * 1rem ));
}
.gallery-columns-8 .gallery-item,
.gallery-columns-8 .card {
  flex-basis: calc( 100% / 8 - ( 2 * 1rem ) );
}
.gallery-columns-9 .gallery-item,
.gallery-columns-9 .card {
  flex-basis: calc( 100% / 9 - ( 2 * 1rem ) );
}
.bypostauthor {
  border: 2px dotted #ddd;
}
.alignright {
  float: right;
  margin-left: 2rem;
}
.alignleft {
  float: left;
  margin-right: 2rem;
}
.aligncenter {
  margin: 1.5rem auto;
}
.nav-item {
  position: relative;
}
.nav-item:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  top: 85%;
}
.nav-item:last-of-type .dropdown-menu {
  left: initial;
  right: 0;
}
.nav-item:hover > .dropdown-menu {
  display: block;
}
.navbar-brand img {
  max-height: 50px;
}

.progress {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
}
